// ------------------------------------------------------------------
// General layout
*, *:before, *:after {
	@include box-sizing(border-box);
}

body {
	font-family: $font-copy;
	background: url(../images/grunge_light.jpg);
}

.container {
	@include container;
	// @include susy-grid-background;
	// background-color: #FFFF80;
}


// ------------------------------------------------------------------
// Main header
.logo-wrapper {
	@include span-columns($total-columns omega);
}

.logo-link {
	@include span-columns(2);
	@include squish(2,2);
	@include leader(1);
	@include trailer(1);
}

.logo {
	max-width: 100%;
	height: auto;
}

// ------------------------------------------------------------------
// Main nav
.main-nav {
	@include span-columns($total-columns omega);
	@include trailer(1);
	ul {
		@include inline-block-list;
	}
	li {
		a {
			display: block;
			position: relative;
			color: $orange;
			font-family: $font-titles;
			letter-spacing: 1px;
			text-decoration: none;
			text-transform: uppercase;
			padding: .5em 1.25em;
			margin-right: 1.75em;
			&:hover, &:focus {
				color: $brown;
				background-color: $beige;
				&::before {
					opacity: 0;
					-webkit-transform: translateY(2px) translateX(-2px);
					-moz-transform: translateY(2px) translateX(-2px);
					transform: translateY(2px) translateX(-2px);
				}
				&::after {
					opacity: 1;
					-webkit-transform: translateY(0px) translateX(0px);
					-moz-transform: translateY(0px) translateX(0px);
					transform: translateY(0px) translateX(0px);
				}
			}
			&::before, &::after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 2px solid $orange;
				content: '';
				-webkit-transition: -webkit-transform 0.15s, opacity 0.15s;
				-moz-transition: -moz-transform 0.15s, opacity 0.15s;
				transition: transform 0.15s, opacity 0.15s;
			}
			&::after {
				border-color: $brown;
				opacity: 0;
				-webkit-transform: translateY(-2px) translateX(2px);
				-moz-transform: translateY(-2px) translateX(2px);
				transform: translateY(-2px) translateX(2px);
			}
		}
	}
}


// ------------------------------------------------------------------
// Main content
.content {
	@include span-columns($total-columns omega);
	@include trailer(2);
	img {
		max-width: 100%;
		height: auto;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: $font-titles;
		text-transform: uppercase;
	}

	a, a:visited {
		color: $link-color;
		&:hover, &:focus {
			color: $link-hover;
		}
	}

	.description {
		p, ul, ol, blockquote {
			@include adjust-font-size-to(18px, 1.4);
		}
	}
}
			

// ------------------------------------------------------------------
// Main footer
.main-footer-wrapper {
	width: 100%;
	overflow: hidden;
	background-color: $brown;
}

.main-footer {
	@include padding-leader(1);
	@include padding-trailer(1);
}

.footer-block {
	@include span-columns($total-columns omega);
	color: #cdad9a;
	a {
		color: $link-color;
		text-decoration: none;
		border-bottom: 1px dotted;
		&:hover, &:focus {
			color: white;
		}
	}
}


/*
 * ******************************************************************
 * BREAKPOINTS
 * ******************************************************************
 */

// ------------------------------------------------------------------
// Small
@include at-breakpoint($breakpoint-small) {
	.container {
		@include container;
		// @include susy-grid-background;
		// background-color: #00FF00;
	}

	.logo-link {
		@include span-columns(3);
		@include squish(3,3);
	}
}

// ------------------------------------------------------------------
// Medium
@include at-breakpoint($breakpoint-medium) {
	.container {
		@include container;
		// @include susy-grid-background;
		// background-color: #80FFFF;
	}

	.logo-link {
		@include span-columns(4);
		@include squish(4,4);
	}

	.footer-block {
		@include span-columns($total-columns / 3);
		@include nth-omega(3n);
	}
}

// ------------------------------------------------------------------
// Large
@include at-breakpoint($breakpoint-large) {
	.container {
		@include container;
		// @include susy-grid-background;
		// background-color: #FF80C0;
	}

	.logo-link {
		@include span-columns(3);
		@include squish(6,6);
	}

	.footer-block {
		@include span-columns($total-columns / 3);
	}
}
