// ------------------------------------------------------------------
// Reassurance
.arguments {
	@include span-columns($total-columns omega);
	@include trailer(2);
}
.argument {
	@include span-columns($total-columns omega);
	padding: 1em;
}
.argument-title {
}

// ------------------------------------------------------------------
// Preview
.previews {
	@include span-columns($total-columns omega);
}
.preview {
	@include trailer(2);
	@include border-bottom-radius(1em);
	background: $beige;
	.preview-header {
		position: relative;
		.price {
			@include border-radius(50%);
			width: 70px;
			height: 70px;
			position: absolute;
			bottom: -30px;
			left: 50%;
			margin-left: -35px;
			color: $white;
			background-color: $brown;
			text-align: center;
			line-height: 4;
			.currency {
				@include adjust-font-size-to(12px);
				color: $orange;
			}
		}
	}
	.preview-image {
		a, img {
			display: block;
		}
		border-bottom: 7px solid $brown;
	}

	.preview-title {
		@include adjust-font-size-to(14px);
		font-weight: bold;
		text-align: center;
		padding: 2.25em 0 .75em;
		letter-spacing: 1px;
		a, a:visited {
			text-decoration: none;
			color: $link-color;
			&:hover, &:focus {
				color: $link-hover;
			}
		}
	}
}


// ------------------------------------------------------------------
// Entry
.entry {
	@include span-columns($total-columns omega);
	@include trailer(1.5);
}
.entry-image {
	@include span-columns($total-columns omega);
	@include trailer(1.5);
	border-bottom: 15px solid $brown;
	img {
		display: block;
	}
}
.entry-header {
	@include span-columns($total-columns omega);
	@include trailer(1.5);
	.entry-title {
		color: $orange;
		text-align: center;
	}
	.entry-categories {
		text-align: center;
	}
	a, a:visited {
		color: $link-color;
		&:hover, &:focus {
			color: $link-hover;
		}
	}
}
.entry-description,
.entry-ingredients,
.entry-meta {
	@include span-columns($total-columns omega);
	@include trailer(1);
}

.entry-meta {
	.unit {
		@include adjust-font-size-to(32px, 3);
		@include border-top-radius(.5em);
		color: $white;
		background-color: $brown;
		text-align: center;
		.currency {
			@include adjust-font-size-to(12px);
			color: $orange;
		}
	}
	.weight {
		@include adjust-font-size-to(18px, 2);
		@include border-bottom-radius(1em);
		@include trailer(.5);
		color: $brown;
		background-color: $beige;
		text-align: center;
	}
	.per-kilo {
		@include adjust-font-size-to(14px);
		@include trailer(1.5);
		color: $grey;
		text-align: center;
	}
	.action {
		
		text-align: center;
	}
	.btn {
		@extend %default-button;
	}
}

// ------------------------------------------------------------------
// Archives
.archive-title,
.page-title {
	@include span-columns($total-columns omega);
	@include padding-trailer(.5);
	@include trailer(1);
	color: $brown;
	border-bottom: 1px solid mix($brown, $beige, 50%);
	text-align: center
}


// ------------------------------------------------------------------
// Post summaries
.summaries {
	@include span-columns($total-columns omega);
}

.summary {
	@include span-columns($total-columns omega);
	@include trailer(1);
	border-bottom: 1px solid mix($brown, $beige, 10%);
	a, a:visited {
		color: $link-color;
		&:hover, &:focus {
			color: $link-hover;
		}
	}
}

.summary-date {
	color: $brown;
	font-style: italic;
}

.summary-title a {
	text-decoration: none;
}



// ------------------------------------------------------------------
// Contact7 Form
.wpcf7-form {
	@include span-columns($total-columns omega);
	@include trailer(1);
}

.content .wpcf7-form p {
	@include trailer(.5);
	font-weight: bold;
}

.wpcf7-submit {
	@extend %default-button;
}

.contact-infos {
	@include span-columns($total-columns omega);
	@include trailer(1);
	.legal {
		@include adjust-font-size-to(14px);
		color: $grey;
	}
}

/*
 * ******************************************************************
 * BREAKPOINTS
 * ******************************************************************
 */

// ------------------------------------------------------------------
// Small
@include at-breakpoint($breakpoint-small) {
	.argument {
		@include span-columns($total-columns / 3);
		@include nth-omega(3n);
	}

	.preview {
		@include span-columns($total-columns / 3);
		@include nth-omega(3n);
	}
}

// ------------------------------------------------------------------
// Medium
@include at-breakpoint($breakpoint-medium) {
	.argument,
	.preview {
		@include span-columns($total-columns / 3);
	}
}

// ------------------------------------------------------------------
// Large
@include at-breakpoint($breakpoint-large) {
	.argument,
	.preview {
		@include span-columns($total-columns / 3);
	}


	.entry-description {
		@include span-columns(9);
		@include pre(3);
	}

	.entry-meta {
		@include span-columns(3 omega);
	}


	.archive-title,
	.page-title,
	.page-description,
	.summaries {
		@include span-columns($total-columns - 4 omega);
		@include squish(2,2);
	}

	.summary-meta {
		@include span-columns(3, $total-columns - 4);
		padding-top: 2em;
	}

	.summary-content {
		@include span-columns(8 omega, $total-columns - 4);
	}


	.wpcf7-form {
		@include span-columns(6, $total-columns - 4);
	}

	.contact-infos {
		@include span-columns(5 omega, $total-columns - 4);
	}
}

